.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(41, 21, 193);
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px !important;
  background: #2915c1 !important;
  box-shadow: -15px -15px 30px #201095, 15px 15px 30px #321aed !important;
}
.card-body {
  padding: 0.8rem 0 2rem 0 !important;
}
.card-text {
  font-size: 0.9rem;
  padding: 0.4rem 1.9rem;
}

.card-img-top {
  transform: scale(1);
  transition: transform 0.9s ease;
}

.card-img-top:hover {
  transform: scale(1.2);
}

.overflow {
  overflow: hidden;
}
img {
  max-width: fit-content;
  /* width: fit-content; */
}

p {
  line-height: 1.8rem;
  /* font-size: 10rem; */
}

h1 {
  font-family: "Exo 2", sans-serif;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 320px) {
  h1 {
    font-size: 1.5rem;
  }
}
